body {
    background-color: #c6ac77;
}

/* fonts */
@font-face {
    font-family: fenwick;
    src: url(fonts/fenwick/FenwickWoodtype.ttf);
}

/* text styles */
h1 {
    font-family: fenwick;
    font-size: 45px;
    text-align: center;
    margin: 5px;
    color: #161313;
}

h2 {
    font-family: fenwick;
    font-size: 40px;
    color: #161313;
    margin: 0;
}

h3 {
    font-family: Garamond;
    font-size: 25px;
    color: #161313;
    text-align: left;
    margin: 10px 0 0;
    font-weight: bold;
}

p {
    font-family: Garamond;
    font-size: 18px;
    color: #161313;
    text-align: justify;
    margin: 10px 0 0;
}

ul {
    list-style-image: url('images/hyphen.svg');
    font-family: Garamond;
    font-size: 18px;
    margin: 5px 0;
}

ol.none {
    font-family: Garamond;
    font-size: 18px;
    margin: 5px 0;
    list-style-type: none;
}

li.point {
    margin-right: 10px;
    padding: 0 45px;
    list-style: none;
    background-image: url("images/pointing-hand.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

/* link styles */
a:link, a:visited {
    color: #d83634;
}

a:hover, a:active {
    color: #e2d2a5;
    background-color: #d83634;
}

a.name:hover, a.name:active {
    color: #161313;
    background: none;
}

/* flexboxes */
.container {
    display: flex;
    flex-direction: column;
}

.main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: flex-start;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px 5px 10px 10px;
}

.sub-sidebar-left {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 15px;
    outline: 5px groove #eb9737;
    background-color: #e2d2a5;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-top: 10px;
}

.sub-sidebar-right {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    outline: 5px groove #eb9737;
    background-color: #e2d2a5;
}

.img-divider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-content: flex-start;
}

.img-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
}

.img-box-lg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.img-box-jr {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.text-break {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    padding: 5px;
}