body {
    background-color: #c6ac77;
}

/* fonts */
@font-face {
    font-family: fenwick;
    src: url(fonts/fenwick/FenwickWoodtype.ttf);
}

/* text styles */
h1 {
    font-family: fenwick;
    font-size: 45px;
    text-align: center;
    margin: 5px;
    color: #161313;
}

h2 {
    font-family: fenwick;
    font-size: 40px;
    color: #161313;
    margin: 0;
}

p {
    font-family: Garamond;
    font-size: 18px;
    color: #161313;
    text-align: justify;
    margin: 10px 0 0;
}

ul {
    list-style-image: url('images/hyphen.svg');
    font-family: Garamond;
    font-size: 18px;
}

/* link styles */
a:link, a:visited {
    color: #d83634;
}

a:hover, a:active {
    color: #e2d2a5;
    background-color: #d83634;
}

/* flexboxes */
.container {
    display: flex;
    flex-direction: column;
}

.main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px;
    padding: 0;
}

.sub-sidebar-left {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 15px;
    outline: 5px groove #eb9737;
    background-color: #e2d2a5;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    outline: 5px groove #eb9737;
    background-color: #e2d2a5;
}